{% extends 'layout.html' %}

{% block content %}


<div class="container mt-5">
    <h1 class="mb-4">Our Services</h1>
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/' + service['image']) }}" class="card-img-top"
                    alt="{{ service['title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ service['title'] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ service['subtitle'] }}</h6>
                    <p class="card-text">{{ service['description'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}